:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
   /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 10%;
}


#customButton {
    font: inherit;
    background-color: #2d2727;
    color: white;
    padding: 10px 15px;
}

h1 {
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin-top: 15px;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}